@media screen and (min-width: 601px) {
  .contact-ion-icon {
    margin: 0 10% 0 0;
    font-size: 35px;
  }
  ion-button {
    text-transform: none;
    height: 90px;
    width: 100%;
    font-size: 20px;
    --background: #2f2b44;
    --border-radius: 15px;
    padding: 0 5%;
  }
}
@media screen and (max-width: 601px) {
  .contact-ion-icon {
    margin: 0 10% 0 0;
    font-size: 20px;
  }
  ion-button {
    text-transform: none;
    height: 60px;
    width: 100%;
    --background: #2f2b44;
    --border-radius: 15px;
    font-size: 12px;
  }
}
