ion-segment {
  display: block;
}

ion-segment-button {
  --background-checked: #231c43;
  text-transform: none;
  color: white;
  border-radius: 20px;
  margin: 13%;
  --indicator-color: none;
}
.expTitle {
  font-size: 30px;
  margin: 5% 0 2% 0;
  color: #bca0f4;
}
.expDate {
  color: white;
  font-size: 25px;
}
.expDesc {
  font-size: 24px;
  color: #c5c5c5;
}
.bgColor-exp {
  background-color: #2f2b44;
  border-radius: 25px;
}
@media screen and (max-width: 601px) {
  .expTitle {
    font-size: 17px;
    margin: 5% 0 2% 0;
  }
  .expDate {
    font-size: 15px;
  }
  .expDesc {
    font-size: 14px;
  }
  ion-segment-button {
    --background-checked: #231c43;
    text-transform: none;
    color: white;
    border-radius: 20px;
    margin: 13%;
  }
}
