ion-segment {
  display: block;
}

ion-segment-button {
  --background-hover: none;
  --background-checked: #231c43;
  text-transform: none;
  color: white;
  border-radius: 20px;
  margin: 10% 0;
  --indicator-color: none;
  place-content: start;
  display: grid;
}
.mar {
  margin-left: 4%;
}
.format-title {
  align-items: center;
}
.format-logo {
  margin: 10% 0 5% 0;
}
.format-logo img {
  width: 50px;
}

.description {
  margin: 5% 3% 0 5%;
}
.expTitle {
  font-size: 24px;
  margin: 5% 0 2% 0;
  color: #bca0f4;
}
.expDate {
  color: white;
  font-size: 19px;
}
.expDesc {
  font-size: 18px;
  color: #c5c5c5;
}
.bgColor-exp {
  background-color: #2f2b44;
  border-radius: 25px;
}
@media screen and (max-width: 601px) {
  .expTitle {
    font-size: 17px;
    margin: 5% 0 2% 0;
  }
  .expDate {
    font-size: 15px;
  }
  .expDesc {
    font-size: 14px;
  }
  ion-segment-button {
    --background-checked: #231c43;
    text-transform: none;
    color: white;
    border-radius: 20px;
    margin: 13%;
  }
}
