.header {
  color: white;
  font-size: 128px;
  font-family: 'RedHat-Bold';
  background: linear-gradient(91.96deg, #ffffff 42.35%, #9983fc 97.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.impWord {
  color: white;
  font-weight: 600;
}
.intro-content {
  position: relative;
  display: flex;
}
.herocontent {
  position: absolute;
}
.robo {
  margin-top: 100px;
  float: right;
}
.intro-desc {
  margin: 50px 250px 50px 0;
  font-size: 32px;
  color: #c5c5c5;
}
.bgImage {
  margin-left: auto;
  opacity: 0.5;
}
/* mobile */
@media screen and (max-width: 601px) {
  .intro-content {
    position: relative;
    display: flex;
  }
  .bgImage {
    margin-top: 45%;
  }
  .header {
    font-size: 42px;
  }
  .intro-desc {
    margin: 30px 0;
    font-size: 20px;
    color: #c5c5c5;
  }
}
