.header {
  color: white;
  font-size: 128px;
  font-family: 'RedHat-Bold';
  background: linear-gradient(91.96deg, #ffffff 42.35%, #9983fc 97.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.intro-content {
  position: relative;
  display: flex;
}
/* .herocontent {
  position: absolute;
} */
.robo {
}
.intro-desc {
  padding-top: 5%;
  font-size: 32px;
  color: #c5c5c5;
}
/* .bgImage {
  margin-left: auto;
  opacity: 0.5;
} */
/* mobile */
@media screen and (max-width: 601px) {
  .intro-content {
    margin-bottom: 25%;
    position: relative;
    display: flex;
  }
  /* .bgImage {
    margin-top: 25%;
  } */
  .header {
    font-size: 42px;
  }
  .intro-desc {
    font-size: 24px;
  }
}
