.nav:hover {
  color: #bca0f4;
}

@media screen and (min-width: 601px) {
  .padding-page {
    padding: 0 5%;
  }
  .ion-icon-intro {
    font-size: 35px;
    padding: 0px;
  }
  .marright {
    margin-right: 4%;
  }
}
/* mobile */
@media screen and (max-width: 601px) {
  .border-format {
    padding-left: 0px;
    padding-right: 0px;
  }
  .ion-icon-intro {
    font-size: 35px;
    padding: 0px;
  }
}
