.title {
  padding: 0;
  font-size: 25px;
  color: white;
}
.content {
  font-size: 2.5vmin;
  color: #c5c5c5;
}
.ion-icon-project {
  font-size: 5vmin;
  margin: 0 3% 0 0;
}
.bg {
  background-color: #2f2b44;
}
.ion-chip {
  font-size: 2.5vmin;
  color: white;
  background: #231c43;
}
ion-card {
  margin: 5%;
  cursor: pointer;
}
ion-card:hover {
  opacity: 0.6;
}
.chipIcon{
  padding-right: 5px;
}
@media screen and (min-width: 601px) {
  .mar-positive {
    margin-top: 60%;
  }
  .mar-negative {
    margin-top: -25%;
  }
}
/* ion-card:hover {
  box-shadow: #7a51d258 -10px 10px, #7a51d254 -20px 20px;
} */

/* .title {
  font-size: 6vmin;
  color: white;
}
.content {
  font-size: 4vmin;
  color: white;
}

.ion-chip {
  font-size: 2.5vmin;
  color: white;
  background: #231c43;
}
.margin-top {
  margin: 5% 0;
}
.ion-icon-project {
  font-size: 6vmin;
  margin: 0 3% 0 0;
}
.card {
  border-radius: 40px;
  height: 75%;
  overflow: hidden;
  position: relative;
}
.card-body {
  opacity: 0; 
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0%;
  position: absolute;
  background: #2f2b4499;
  backdrop-filter: blur(5px);
  color: #fff;
  justify-content: center;
  transition: 0.5s;
}
.card:hover .card-body {
  opacity: 1;
}
.project-margin {
  margin: 5%;
}
.projectImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 601px) {
}

/* mobile */
/* @media screen and (max-width: 601px) {
  .title {
    font-size: 5vmin;
  }
  .content {
    font-size: 3vmin;
  }
  .ion-icon-project {
    font-size: 6vmin;
    margin: 0 3% 0 0;
  }

  .ion-chip {
    font-size: 3vmin;
    color: white;
    background: #231c43;
  }
} */
