.title {
  font-size: 6vmin;
  color: white;
}
.content {
  font-size: 4vmin;
  color: white;
}

.ion-chip {
  font-size: 2.5vmin;
  color: white;
  background: #231c43;
}
.margin-top {
  margin: 5% 0;
}
.ion-icon-project {
  font-size: 6vmin;
  margin: 0 3% 0 0;
}
.card {
  border-radius: 40px;
  height: 75%;
  overflow: hidden;
  position: relative;
}
.card-body {
  /* opacity: 0; */
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0%;
  position: absolute;
  background: #2f2b4499;
  backdrop-filter: blur(5px);
  color: #fff;
  justify-content: center;
  transition: 0.5s;
}
.card:hover .card-body {
  opacity: 1;
}
.project-margin {
  margin: 5%;
}
.projectImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 601px) {
}

/* mobile */
@media screen and (max-width: 601px) {
  .title {
    font-size: 5vmin;
  }
  .content {
    font-size: 3vmin;
  }
  .ion-icon-project {
    font-size: 6vmin;
    margin: 0 3% 0 0;
  }

  .ion-chip {
    font-size: 3vmin;
    color: white;
    background: #231c43;
  }
}
