@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* FONTS */

@font-face {
  font-family: 'RedHat-Bold';
  src: url('../assets/font/RedHat/RedHatDisplay-Bold.ttf');
}

@font-face {
  font-family: 'RedHat-Medium';
  src: url('../assets/font/RedHat/RedHatDisplay-Medium.ttf');
}
* {
  font-family: 'RedHat-Medium';
}
/* STYLES */
h1,
h2,
h3,
h4,
h5,
ion-icon {
  color: white;
}

strong {
  color: #bca0f4;
}
ion-content,
ion-toolbar {
  --background: #252233;
}
hr {
  background-color: #7951d2;
  height: 13px;
  width: 72px;
  border-radius: 10px;
  margin-left: 0;
}
/* For desktop */
@media screen and (min-width: 601px) {
  hr {
    background-color: #7951d2;
    height: 13px;
    width: 72px;
    border-radius: 10px;
    margin-left: 0;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 19px;
  }
  h5 {
    font-size: 16px;
  }

  .section_margin {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .section-margin-desc {
    margin-top: 50px;
  }
}
/* Mobile  */
@media screen and (max-width: 601px) {
  hr {
    background-color: #7951d2;
    height: 7px;
    width: 72px;
    border-radius: 10px;
    margin-left: 0;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  .section_margin {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
